<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.webServer>
<security>
<requestFiltering allowDoubleEscaping="True" />
</security>
        <httpRedirect enabled="false" destination="http://127.0.0.1:8001" exactDestination="true" />
        <staticContent>
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
        <caching enabled="true" enableKernelCache="true" />
</system.webServer>
</configuration>