<style>
    .modal-dialog {width: 400px;} 
</style>

    <switch name="do">
        <case value="添加">
            <form  method="post" class="form-inline showWindow" action="{:U('Section/ks_add')}" id="ajaxForm2">
        </case>
        <default />
            <form  method="post" class="form-inline showWindow" action="{:U('Section/ks_edit')}" id="ajaxForm2">
            <input type="hidden" name="id" value="{$id}">
             <div class="form-group">
                <label>ID：</label>
                <input type="text" class="form-control" readonly="readonly" value="{$id}"/>
            </div>
    </switch>
   
    <div class="form-group">
        <label>名称：</label>
        <input name="section_name" type="text" class="form-control" value="{$section_name}"/>
    </div>
    <br/><br/>
    <div class="text-center">
        <button type="submit" class="btn  btn-info">确认{$do}</button>
    </div>
</form>
<script>
    $('#ajaxForm2').ajaxForm({
        dataType:'json',
        success:function(data){
            Result(data);
        }
    });
</script>