<thead>
  <tr class="text-centerenter">
  	<th name="yuyue" class="orderclick">预约号&nbsp;&nbsp;<i class="fa "></i></th>
	 		<th name="username" class="orderclick">姓名&nbsp;&nbsp;<i class="fa "></i></th>
	 		<th name="sex" class="orderclick">性别&nbsp;&nbsp;<i class="fa "></i></th>
	 		<th name="phone" class="orderclick">电话&nbsp;&nbsp;<i class="fa "></i></th>
	 		<th name="keshi" class="orderclick">科室&nbsp;&nbsp;<i class="fa "></i></th>
	 		<th name="bingzhong" class="orderclick">病种&nbsp;&nbsp;<i class="fa "></i></th>
	 		<th name="doctor" class="orderclick">医生&nbsp;&nbsp;<i class="fa "></i></th>
	 		<th name="time" class="orderclick">预约时间&nbsp;&nbsp;<i class="fa "></i></th>
	 		<th name="area" class="orderclick">地区&nbsp;&nbsp;<i class="fa "></i></th>
	 		<th name="consult" class="orderclick">渠道&nbsp;&nbsp;<i class="fa "></i></th>
	 		<th name="qq" class="orderclick">qq&nbsp;&nbsp;<i class="fa "></i></th>
	 		<th name="source_web" class="orderclick">来源网站&nbsp;&nbsp;<i class="fa "></i></th>
	 		<th name="info_channel" class="orderclick">信息渠道&nbsp;&nbsp;<i class="fa "></i></th>
	 		<th name="isorder" class="orderclick">预约情况&nbsp;&nbsp;<i class="fa "></i></th>
	 		<th name="type_in" class="orderclick">录入员&nbsp;&nbsp;<i class="fa "></i></th>
	 		<th name="laiyuan" class="orderclick">来院&nbsp;&nbsp;<i class="fa "></i></th>
	 		<th name="laiyuan_time" class="orderclick">来院时间&nbsp;&nbsp;<i class="fa "></i></th>
	 		<th name="in_time" class="orderclick">录入时间&nbsp;&nbsp;<i class="fa "></i></th>
	 		<th name="huifang" class="orderclick">回访状态&nbsp;&nbsp;<i class="fa "></i></th>
    <th>操作</th>
  </tr>
</thead>