<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>__NAMEYY__预约管理系统</title>
<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/css/metisMenu.css" rel="stylesheet">
<link href="__PUBLIC__/css/sb-admin.css" rel="stylesheet">
<link href="__PUBLIC__/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<!--[if lt IE 9]>
<script src="__PUBLIC__/js/html5shiv.js"></script>
<script src="__PUBLIC__/js/respond.min.js"></script>
<![endif]-->
<script>
var monthgoal_add="{:U('Monthgoal/monthgoal_add')}";
var monthgoal_list="{:U('Monthgoal/monthgoal_list')}";
</script>
</head>
<body>
<div id="wrapper"> <include file="Public:left" />
  <div id="page-wrapper">
  <include file="Public:position" />
    <div class="container-fluid">

      <div class="row common-add-from">
        <form  class="form-horizontal" method="post" role="form" id="AddMonthgoalForm">
          <div class="form-group">
            <label class="col-md-5 control-label">选择月份：</label>
            <div class="input-text col-md-7">
              <input type="text" onFocus="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM'})"  class="form-control input-sm Wdate" id="yuefen"  name="yuefen">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-5 control-label">添加目标：</label>
            <div class="input-text col-md-7">
              <input type="text" class="form-control input-sm" id="goalnum"  name="goalnum">
            </div>
          </div>
          <div class="form-group">
            <div class="input-text col-md-5 col-md-offset-7 addbtn">
              <button type="submit" class="btn btn-primary col-md-6 col-sm-12 col-xs-12">提交</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="__PUBLIC__/js/jquery.js"></script> 
<script src="__PUBLIC__/js/bootstrap.min.js"></script> 
<script src="__PUBLIC__/js/metisMenu.js"></script> 
<script src="__PUBLIC__/js/sb-admin-2.js"></script> 
<script src="__PUBLIC__/js/My97DatePicker/WdatePicker.js"></script> 
<script src="__PUBLIC__/js/validation/jquery.validate.min.js"></script> 
<script src="__PUBLIC__/js/validation/messages_zh.js"></script> 
<script>
$(function(){		
  $("#AddMonthgoalForm").validate({
    rules:
    {
	  monthgoal: "required",
	  yuefen: "required",
	  
    },
    messages:
    {
      monthgoal: "目标不能为空！",
	  yuefen: "月份不能为空！",

    },
submitHandler: function(form) {  //通过之后回调  
     var goalnum =$("#goalnum").val();
	 if(isNaN(goalnum)){
		 
		 alert('输入的数值必须是正整数!');
		 $("#goalnum").focus();
		 return false;
		 }
	 var yuefen = $("#yuefen").val();   
     $.ajax({  
url : monthgoal_add,  
type : "post",  
dataType : "json",  
data: {'goalnum':goalnum,'yuefen':yuefen},
success : function(data) {  
if(data.state==0) {
	alert('该目标已添加过,勿重复添加！');

}else if(data.state==1){
	
	
	location.href=monthgoal_list;
	
	
	
	}else{
		
		alert('添加失败，请重试！');
		
		}
}  
     });  
         },  
         invalidHandler: function(form, validator) {
       return false;  
          }  
	
	
 });
})
</script>
</body>
</html>
