<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>__NAMEYY__预约管理系统</title>
<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/css/metisMenu.css" rel="stylesheet">
<link href="__PUBLIC__/css/sb-admin.css" rel="stylesheet">
<link href="__PUBLIC__/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/js/datepicker/css/jquery.ui.css" rel="stylesheet" type="text/css">
<!--[if lt IE 9]>
<script src="__PUBLIC__/js/html5shiv.js"></script>
<script src="__PUBLIC__/js/respond.min.js"></script>
<![endif]-->
</head>
<body>
<div id="wrapper"> <include file="Public:left" />
  <div id="page-wrapper">
  <include file="Public:position" />
    <div class="container-fluid">
      
      <form class="form-horizontal" action="{:U('Booking/keshi_list')}"  method="post" role="form">
        <div class="row pd-10">
          <div class="col-md-10 col-md-offset-2">
            <div class="form-group pd-0">
              <label class="col-md-1 control-label">渠道：</label>
              <div class="input-text col-md-2">
                <select name="qudao" id="qudao" class="form-control input-sm">
                  <option value="1">网络</option>
                </select>
              </div>
               <label class="control-label">登记时间从：</label>
              <div class="input-text col-md-2">
                <input type="text" name="start_date" class="form-control input-sm"  id="start_date">
              </div>
              <label class="control-label">到：</label>
              <div class="input-text col-md-2">
                <input type="text" name="en_date" class="form-control input-sm"  id="en_date">
              </div>
              <div class="col-md-2 text-center pd-top-10">
                <button type="submit" class="btn btn-primary btn-sm col-md-5 col-sm-12 col-xs-12 btn-block" id="search_btn">统计</button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
              <thead>
                <tr class="text-center">
                  <th>关键词</th>
                  <th>预约</th>
                  <th>到院</th>
                  <th>百分比</th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-center">
                  <td>合计</td>
                  <td>{$strs['yynums']}</td>
                  <td> {$strs['dynums']}</td>
                  <td>{$strs['dyl']}</td>
                </tr>
                <volist name="arr" id="vo">
                  <if condition="$vo['gjctotal'] neq 0 ">
                    <tr class="text-center">
                      <td>{$vo.keyword}</td>
                      <td>{$vo.gjctotal}</td>
                      <td>{$vo.gjctotals}</td>
                      <td>{$vo.a_bfb}</td>
                    </tr>
                  </if>
                </volist>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="__PUBLIC__/js/jquery.js"></script> 
<script src="__PUBLIC__/js/bootstrap.min.js"></script> 
<script src="__PUBLIC__/js/metisMenu.js"></script> 
<script src="__PUBLIC__/js/sb-admin-2.js"></script> 
<script src="__PUBLIC__/js/datepicker/js/jquery.datepicker.js"></script>
<script>
$(function(){
$("#start_date,#en_date").datepicker();   
})
</script>  
</body>
</html>
