<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>__NAMEYY__预约管理系统</title>
<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/css/metisMenu.css" rel="stylesheet">
<link href="__PUBLIC__/css/sb-admin.css" rel="stylesheet">
<link href="__PUBLIC__/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<!--[if lt IE 9]>
<script src="__PUBLIC__/js/html5shiv.js"></script>
<script src="__PUBLIC__/js/respond.min.js"></script>
<![endif]-->
<script>
var consult_add="{:U('Consult/consult_add')}";
var consult_list="{:U('Consult/consult_list')}";
</script>
</head>
<body>
<div id="wrapper"> <include file="Public:left" />
  <div id="page-wrapper">
  <include file="Public:position" />
    <div class="container-fluid">
      
      <div class="row common-add-from">
        <form  class="form-horizontal" method="post" role="form" id="AddConsultForm">
          <div class="form-group">
            <label class="col-md-5 control-label">添加渠道：</label>
            <div class="input-text col-md-7">
              <input type="text" class="form-control input-sm" id="consult"  name="consult">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-5 control-label">所属类别：</label>
            <div class="input-text col-md-7">
              <select name="qudaogroup" id="qudaogroup" class="form-control input-sm">
                <volist name="qudaogrouplist" id="vo">
                  <option value="{$vo.id}">{$vo.qudao_group_name}</option>
                </volist>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="input-text col-md-5 col-md-offset-7 addbtn">
              <button type="submit" class="btn btn-primary col-md-6 col-sm-12 col-xs-12">提交</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="__PUBLIC__/js/jquery.js"></script> 
<script src="__PUBLIC__/js/bootstrap.min.js"></script> 
<script src="__PUBLIC__/js/metisMenu.js"></script> 
<script src="__PUBLIC__/js/sb-admin-2.js"></script> 
<script src="__PUBLIC__/js/validation/jquery.validate.min.js"></script> 
<script src="__PUBLIC__/js/validation/messages_zh.js"></script> 
<script>
$(function(){		
  $("#AddConsultForm").validate({
    rules:
    {
	  consult: "required",
	  
    },
    messages:
    {
      consult: "渠道不能为空！",

    },
submitHandler: function(form) {  //通过之后回调  
     var consult = $("#consult").val();
	 var qudaogroup = $("#qudaogroup").val();   
     $.ajax({  
url : consult_add,  
type : "post",  
dataType : "json",  
data: {'consult':consult,'qudaogroup':qudaogroup},
success : function(data) {  
if(data.state==0) {
	alert('该渠道已添加过,勿重复添加！');

}else if(data.state==1){
	
	
	location.href=consult_list;
	
	
	
	}else{
		
		alert('添加失败，请重试！');
		
		}
}  
     });  
         },  
         invalidHandler: function(form, validator) {
       return false;  
          }  
	
	
 });
})
</script>
</body>
</html>
